

  <div class="px-4 py-5 text-center">
    <h1 class="display-5 fw-bold">Rent my Caravan</h1>
      <img src="https://images.pexels.com/photos/9143498/pexels-photo-9143498.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="camping-van">

    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <p>my call to action</p>
      </div>
    </div>
  </div>
