.card-image{
  height: 250px;
  background-size: cover;
  background-position: center;
}


.card-title{
  color: $gray;
}


a:link, a:visited {
text-decoration: none;
}

// i {
//   color: black;
// }

.card-subtitle, .card-info{
  color: $gray;
  text-decoration: none;
}
