.card-link {
  background-color: #808080;
  padding: 15px 0;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,0.175);
}

.card-link h3 {
  color: white;
}

.card-link p {
  font-size: 1em;
  color: white;
}
